@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	font-weight: normal
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

img
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

b, strong
	font-weight: 600

ul,ol,li
	list-style-type: none
	margin: 0
	padding: 0

li
	margin-bottom: 1rem

.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	clip: rect(0 0 0 0)

section
	padding: 6.5vmax 0
	position: relative
	h2
		text-transform: uppercase
		font-size: 30px
		position: relative
		font-weight: bold
		padding-bottom: 20px
		line-height: 1.2
		margin-bottom: 50px
		text-align: center

.sect-title
	text-transform: uppercase
	font-size: 25px
	font-weight: bold
.ac-c
	color: $accent		
.header
	background-color: #dfdfdf
	position: relative
	font-size: 18px
	&-wrap
		min-height: 29vw
		width: 100%
		display: flex
		align-items: center
	img
		position: absolute
		top: 0
		right: 0
		width: 46vw
	&-text
		width: 50vw
		line-height: 1.4
		p
			margin-bottom: 10px
		span
			display: block	


.all-cases 
	display: flex
	align-items: center
	justify-content: space-around
	background-image: -moz-linear-gradient( 0deg, rgb( 230, 92, 0 ) 0%, rgb( 249, 212, 35 ) 100%)
	background-image: -webkit-linear-gradient( 0deg, rgb( 230, 92, 0 ) 0%, rgb( 249, 212, 35 ) 100%)
	box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.2 )
	position: fixed
	font-size: 14px
	color: #fff
	text-decoration: none
	bottom: 20px
	right: -300px
	width: 228px
	height: 52px
	z-index: 100
	transition: all .5s ease-in-out
	&:hover
		color: #fff
		text-decoration: none
	&.active
		right: 20px

.footer
	text-align: center
	color: #fff
	font-weight: 600
	margin-top: 30px
	width: 100%
	&-wrap
		display: flex
		justify-content: center
		align-items: center
		max-width: 1170px
		width: 100%
		margin: 0 auto
		min-height: 270px
		height: auto
		background-image: url(../img/footer-bg.png)
		background-repeat: no-repeat
		background-position: top center
		background-size: cover
		p
			max-width: 630px
			width: 100%
			margin-top: -50px
			margin-bottom: 0
			a
				text-transform: uppercase
				text-decoration: underline
				color: #fff
				&:hover
					text-decoration: none



@import "media" // Always at the end
